@page "/"

<h1>Simple Drag and Drop with Blazor.</h1>
<hr />

<TasksContainer Tasks="Tasks">
    <TaskList Status="TaskStatuses.Todo" AllowedStatuses="@(new TaskStatuses[] { TaskStatuses.Started})" />
    <TaskList Status="TaskStatuses.Started" AllowedStatuses="@(new TaskStatuses[] { TaskStatuses.Todo})" />
    <TaskList Status="TaskStatuses.Completed" AllowedStatuses="@(new TaskStatuses[] { TaskStatuses.Started })" />
</TasksContainer>

@code {
    List<Shared.Task> Tasks = new List<Shared.Task>();

    protected override void OnInit()
    {
        Tasks.Add(new Shared.Task { Id = 1, Description = "Mow the lawn", Status = TaskStatuses.Todo, LastUpdated = DateTime.Now });
        Tasks.Add(new Shared.Task { Id = 2, Description = "Go to the gym", Status = TaskStatuses.Todo, LastUpdated = DateTime.Now });
        Tasks.Add(new Shared.Task { Id = 3, Description = "Call Ollie", Status = TaskStatuses.Todo, LastUpdated = DateTime.Now });
        Tasks.Add(new Shared.Task { Id = 4, Description = "Fix bike tyre", Status = TaskStatuses.Todo, LastUpdated = DateTime.Now });
        Tasks.Add(new Shared.Task { Id = 5, Description = "Finish blog post", Status = TaskStatuses.Todo, LastUpdated = DateTime.Now });
    }
}
