@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <h3>Simple drag and drop with Blazor</h3>
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
